@import './_variables.scss';

.intro {
  display: flex;
  background: white;
  padding: 8px;
  padding: 0 60px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image {
    }
    &__title {
      font-size: 3rem;
      color: $secondary;
      margin: 8px 0;
    }
    &__description {
      font-size: 0.875rem;
      color: $gray;
      margin: 20.5px 0;
      line-height: 24px;
      text-transform: capitalize;
    }
    &__action {
      margin: 16px 0;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }
}
