@import './_variables.scss';

* {
  box-sizing: border-box;
}

.app {
  background-color: #e5e5e5;
  max-width: 1326px;
  margin: 0 auto;
  .content {
    max-width: 970px;
    margin: 0 auto;
  }

  .primary {
    color: $primary;
  }
}
