@import './variables.scss';

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-top: 74px;
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: $secondary;
  }

  &__description {
    color: $gray;
    margin-top: 16px;
    max-width: 438px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  .service {
    width: 310px;
    height: 225px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &__img {
      width: 74px;
      height: 74px;
    }
    &__title {
      color: $secondary;
      text-transform: capitalize;
    }
    &__description {
      color: $gray;
      max-width: 260px;
      line-height: 24px;
      text-transform: capitalize;
      text-align: center;
    }
  }
}
