@import './variables.scss';

.sidebar {
  width: 305px;
  padding: 0 42px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__info {
    flex-direction: column;
    width: 150px;

    &__image {
      border-radius: 50%;
      margin-top: 50px;
    }

    &__name {
      font-size: 1.125rem;
      color: $secondary;
    }

    &__position {
      color: $gray;
    }
  }

  .icons__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    .icon {
      border-radius: 50%;
      background-color: $primary;
      width: 24px;
      height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }

  .personal__info {
    width: 100%;
    margin-top: 25px;

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    &-key {
      background-color: $primary;
      border-radius: 2px;
      padding: 2px 4px;
    }

    &-value {
      color: $secondary;
    }
  }

  .language,
  .contact,
  .skills {
    width: 100%;
    margin-top: 25px;
    &__title {
      margin: 0;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    &__key {
      color: $gray;
    }

    &-value {
      color: $gray;
    }
  }

  .divider {
    height: 2px;
    width: 100%;
    color: $divider;
    margin: 0;
    margin-top: 32px;
  }

  .button {
    width: 100%;
    margin: 32px 0;
  }

  @media screen and (max-width: 1340px) {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    .icons__container {
      max-width: 350px;
      width: 100%;
    }
  }
}
button {
  padding: 16px 32px;
  background-color: $primary;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  img {
    margin-left: 10px;
    width: 10px;
    height: 10px;
  }
}
